<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Machines of Nasa: Saturn V</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script src='https://code.responsivevoice.org/responsivevoice.js'></script>
    <script src="/javascripts/responsivevoicecommands.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r73/three.js"></script>
    <!-- <script type="text/javascript" src="KeyboardControls.js"></script> -->
    <script type="text/javascript" src="/javascripts/TrackballControl.js"></script>
    <script type="text/javascript" src="/javascripts/JSONLoader.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Atomic+Age|VT323' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/style.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>

		<div id="image">
			<div class="image i1">
        <img src="/images/saturnV/1.jpg">
        <p class="caption"> Saturn V - assembly of the first stage of the Saturn V</p>
      </div>
			<div class="image i2">
        <img src="/images/saturnV/2.jpg">
        <p class="caption"> Launch Complex 39 with the Vehicle Assembly Building (VAB) and Saturn V being transported to the launch pad</p>
      </div>
			<div class="image i3">
        <img src="/images/saturnV/3.jpg">
        <p class="caption"> Saturn V - leaving the VAB on the way to the pad</p>
      </div>
			<div class="image i4">
        <img src="/images/saturnV/4.jpg">
        <p class="caption"> Launch of an Apollo Saturn V to the Moon </p>
      </div>
			<div class="image i5">
        <img src="/images/saturnV/5.jpg">
        <p class="caption"> On July 16, 1969, the huge, 363-feet tall Saturn V rocket launches</p>
      </div>
			<div class="image i6">
        <img src="/images/saturnV/6.jpg">
        <p class="caption"> Saturn V rocket launches on the Apollo 11 mission from Pad A </p>
      </div>
			<div class="image i7">
        <img src="/images/saturnV/7.jpg">
        <p class="caption"> Apollo 11 Launch </p>
      </div>
			<div class="image i8">
        <img src="/images/saturnV/8.jpg">
        <p class="caption"> Stacking of the S-II Stage for Apollo 11 </p>
      </div>
    </div>


    <div id="container">
    </div>

    <div id="homeBtn" class="svg-wrapperW">
          <svg class="svgW" height="40" width="145" xmlns="http://www.w3.org/2000/svg">
            <rect id="shapeW" height="40" width="145" />
            <div id="textW">
              <a href="/chosemachine" id="aW"><span class="spot"></span>back</a>
            </div>
          </svg>
    </div>

    <p class="messageW" align="center"> Hover over an image to pause the carousel. </p>


    <div id="LLLearn" class="svg-wrapperW Learn">
          <svg class="svgW" height="40" width="145" xmlns="http://www.w3.org/2000/svg">
            <rect id="shapeW" height="40" width="145" />
            <div id="textW">
              <a href="/saturnV/learn" id="aW"><span class="spot"></span>Learn</a>
            </div>
          </svg>
    </div>

    <div id="LLExplore" class="svg-wrapperW Explore">
          <svg class="svgW" height="40" width="145" xmlns="http://www.w3.org/2000/svg">
            <rect id="shapeW" height="40" width="145" />
            <div id="textW">
              <a href="/saturnV/explore" id="aW"><span class="spot"></span>Explore</a>
            </div>
          </svg>
    </div>

    <div id="LLGallery" class="svg-wrapper-active GalleryP">
          <svg class="svgW" height="40" width="145" xmlns="http://www.w3.org/2000/svg">
            <div id="textW">
              <a href="/saturnV/gallery" id="aW"><span class="spot"></span>Gallery</a>
            </div>
          </svg>
    </div>



    <div id="LLComments" class="svg-wrapperW Comments">
          <svg class="svgW" height="40" width="145" xmlns="http://www.w3.org/2000/svg">
            <rect id="shapeW" height="40" width="145" />
            <div id="textW">
              <a href="/saturnV/comments" id="aW"><span class="spot"></span>Comments</a>
            </div>
          </svg>
    </div>
    <img class="nasalogo" src="/images/nasa.png"/>
  <script type="text/javascript" src="/javascripts/threejs/stars.js"></script>
  </body>
</html>
