<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>THree Js</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r73/three.js"></script>
    <script src='https://code.responsivevoice.org/responsivevoice.js'></script>
    <script src="/javascripts/responsivevoicecommands.js"></script>
    <!-- <script type="text/javascript" src="KeyboardControls.js"></script> -->
    <script src="//cdn.jsdelivr.net/velocity/1.2.1/velocity.min.js"></script>
    <script src="//cdn.jsdelivr.net/velocity/1.2.1/velocity.ui.min.js"></script>
    <script type="text/javascript" src="/javascripts/TrackballControl.js"></script>
    <script type="text/javascript" src="/javascripts/JSONLoader.js"></script>
    <script type="text/javascript" src="/javascripts/saturnV/ANILearn.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Atomic+Age|VT323' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/stylesheets/style.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <div id="container">
    </div>

    <div class="pageBtns" id="missionBtn" data-clicks="1"></div>
    <div class="pageBtns" id="factsBtn" data-clicks="1"></div>
    <div class="pageBtns" id="diagramBtn" data-clicks="1"></div>
    <div class="pageBtns" id="launchBtn" data-clicks="1"></div>

    <section id="launchvideo">
        <iframe class="youtube-player" src="https://www.youtube.com/embed/o4OBKOlgmfo"
        title="YouTube video player" frameborder="0" height="403" width="540"></iframe>
    </section>


    <div id="homeBtn" class="svg-wrapperW">
          <svg class="svgW" height="40" width="145" xmlns="http://www.w3.org/2000/svg">
            <rect id="shapeW" height="40" width="145" />
            <div id="textW">
              <a href="/chosemachine" id="aW"><span class="spot"></span>back</a>
            </div>
          </svg>
    </div>

    <div id="VLearn" class="svg-wrapper-active Learn">
          <svg class="svgW" height="40" width="145" xmlns="http://www.w3.org/2000/svg">
            <div id="textW">
              <a href="/saturnV/learn" id="aW"><span class="spot"></span>Learn</a>
            </div>
          </svg>
    </div>

    <div id="VExplore" class="svg-wrapperW Explore">
          <svg class="svgW" height="40" width="145" xmlns="http://www.w3.org/2000/svg">
            <rect id="shapeW" height="40" width="145" />
            <div id="textW">
              <a href="/saturnV/explore" id="aW"><span class="spot"></span>Explore</a>
            </div>
          </svg>
    </div>

    <div id="VGallery" class="svg-wrapperW GalleryP">
          <svg class="svgW" height="40" width="145" xmlns="http://www.w3.org/2000/svg">
            <rect id="shapeW" height="40" width="145" />
            <div id="textW">
              <a href="/saturnV/gallery" id="aW"><span class="spot"></span>Gallery</a>
            </div>
          </svg>
    </div>

    <div id="VComments" class="svg-wrapperW Comments">
          <svg class="svgW" height="40" width="145" xmlns="http://www.w3.org/2000/svg">
            <rect id="shapeW" height="40" width="145" />
            <div id="textW">
              <a href="/saturnV/comments" id="aW"><span class="spot"></span>Comments</a>
            </div>
          </svg>
    </div>

    <div id="timelineText">
      <h3> The Facts: </h3>
      <p>The Saturn V rocket was 111 meters (363 feet) tall, about the height of a 36-story-tall building, and 18 meters (60 feet) taller than the Statue of Liberty.</p>
      <p>Fully fueled for liftoff, the Saturn V weighed 2.8 million kilograms (6.2 million pounds), the weight of about 400 elephants.</p>
      <p>The rocket generated 34.5 million newtons (7.6 million pounds) of thrust at launch, creating more power than 85 Hoover Dams.</p>
      <p> A car that gets 48 kilometers (30 miles) to the gallon could drive around the world around 800 times with the amount of fuel the Saturn V used for a lunar landing mission.</p>
      <p> It could launch about 118,000 kilograms (130 tons) into Earth orbit. That's about as much weight as 10 school buses. The Saturn V could launch about 43,500 kilograms (50 tons) to the moon. That's about the same as four school buses.</p>
    </div>

    <div id="missionText">
      <h3> The Mission: </h3>
      <p>The Saturn V was a rocket NASA built to send people to the moon. (The V in the name is the Roman numeral five.) The Saturn V was a type of rocket called a Heavy Lift Vehicle. That means it was very powerful. It was the most powerful rocket that had ever flown successfully. The Saturn V was used in the Apollo program in the 1960s and 1970s. It also was used to launch the Skylab space station.</p>

      <p>The Saturn V was developed at NASA's Marshall Space Flight Center in Huntsville, Ala. It was one of three types of Saturn rockets NASA built. Two smaller rockets, the Saturn I (1) and IB (1b), were used to launch humans into Earth orbit. The Saturn V sent them beyond Earth orbit to the moon. The first Saturn V was launched in 1967. It was called Apollo 4. Apollo 6 followed in 1968. Both of these rockets were launched without crews. These launches tested the Saturn V rocket.</p>

      <p>The first Saturn V launched with a crew was Apollo 8. On this mission, astronauts orbited the moon but did not land. On Apollo 9, the crew tested the Apollo moon lander by flying it in Earth orbit without landing. On Apollo 10, the Saturn V launched the lunar lander to the moon. The crew tested the lander in space but did not land it on the moon. In 1969, Apollo 11 was the first mission to land astronauts on the moon. Saturn V rockets also made it possible for astronauts to land on the moon on Apollo 12, 14, 15, 16 and 17. On Apollo 13, the Saturn V lifted the crew into space, but a problem prevented them from being able to land on the moon. That problem was not with the Saturn V, but with the Apollo spacecraft. The last Saturn V was launched in 1973, without a crew. It was used to launch the Skylab space station into Earth orbit.</p>

    </div>

    <div id="diagramText">
      <img src="/images/saturnV/schematic.png"/>
    </div>

    <img class="nasalogo" src="/images/nasa.png"/>
    <script type="text/javascript" src="/javascripts/saturnV/saturnVS.js"></script>
  </body>
</html>
