<style>
@import url(https://fonts.googleapis.com/css?family=Special+Elite);
@import url(https://fonts.googleapis.com/css?family=VT323);

  body {
    background: black;
    color: white;
    font-family: 'Special Elite', cursive;
      font-size: 40px;
  }

  h1 {
    font-family: 'Special Elite', cursive;
    font-size: 40px;
    margin-top: 50px;
  }

  h3 {
    font-family: 'Special Elite', cursive;
    font-size: 20px;
  }

  #commentBox {
    z-index: 1;
    font-family: 'VT323', ;
    font-size: 12px;
    position: fixed;
    top: 150px;
    color: white;
    height: 420px;
    overflow: scroll;
    margin-top: 30px;
    left: 5%
  }

  .comment {
    margin-left: 30px;
    color: white;
  }

  .commentSpan {
    color: #8bd5ec;
    font-size: 18px;
  }

  #commentBtn {
    font-family: 'Special Elite', cursive;
    font-size: 18px;
    padding: 3px;
    background: none;
    border: 3px solid white;
    color: white;
    border-radius: 4px;
    padding: 10px;
  }

  input[type="textarea"] {
    height: 60px;
    width: 400px;
  }

  input[type="text"] {
    height: 30px;
    width: 400px; 
  }

</style>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>

<script>
  $(document).ready(function() {


    $("#commentBtn").on("click", function() {
      $("#allComments").append("<p><span class='commentSpan'>"+$("#commentName").val()+": </span>"+$("#commentInput").val()+"</p>");
    });

    });

</script>


<div align = "center"><h1>404: Page Not Found</h1>
<h3> Houston we have a problem! </h3>
<p>But while you're here -- would you like to add to our 404?</p>
</div>

    <div align = "center">
    <p><input type="textarea" placeholder="Say something mean about Jim."  id="commentInput"></input></p>
    <p><input type="text" placeholder="Name? (optional)" id="commentName"></input></p>
    <button id="commentBtn">Add Comment</button>
  </div>

  <div id="allComments" align="center">

  </div>


</div>
