<style>
@import url(https://fonts.googleapis.com/css?family=Special+Elite);
@import url(https://fonts.googleapis.com/css?family=VT323);

  body {
    background: black;
    color: white;
    font-family: 'Special Elite', cursive;
      font-size: 40px;
  }

  h1 {
    font-family: 'Special Elite', cursive;
    font-size: 30px;
  }

  h3 {
    font-family: 'Special Elite', cursive;
    font-size: 20px;
  }

  #commentBox {
    z-index: 1;
    font-family: 'VT323', ;
    font-size: 12px;
    position: fixed;
    bottom : 50px;
    color: white;
    height: 420px;
    overflow: scroll;
  }

</style>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>

<script>

  function getComments() {
      $.ajax({
        url: '/comments',
        type: 'GET',
        dataType: 'json'
      })
      .done(function(data) {
        for i in data {
          if (data.Owner === "404") {
            $( "#allComments" ).append( "<p class="comment"><span class="commentSpan">"+data.Name+"</span>:"+data.Comment+"</p>" );
        }
        console.log("success");
        }
      });

      $(document).ready(function() {
        getComments()
      });

  }

</script>

<h1>404: Page Not Found</h1>
<h3> Houston we have a problem! </h3>
<p>But while you're here -- would you like to add to our 404?</p>

<div id="commentBox">
  <table><tr><td>
  <form class="" action="/comments" method="post">
    <input type="textarea" placeholder="Say something mean about Jim." name="Comment"></input>
  </td><td>
    <input type="text" placeholder="Name? (optional)" name="Name"></input>
    <input type="hidden" name="Owner" value="404"></input>
    <p><input type="submit" class="commentBtn" value="Add Comment"></input></p>
  </td></tr></table>
  </form>
  <div id="allComments">

  </div>
</div>


</div>
