<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>THree Js</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r73/three.js"></script>
    <!-- <script type="text/javascript" src="KeyboardControls.js"></script> -->
    <script type="text/javascript" src="/javascripts/TrackballControl.js"></script>
    <script type="text/javascript" src="/javascripts/JSONLoader.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css" media="screen" title="no title" charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Atomic+Age|VT323' rel='stylesheet' type='text/css'>
    <script src='https://code.responsivevoice.org/responsivevoice.js'></script>

    <script>
    $(document).ready(function() {

      function showButtons() {
      $('.hidden').show('fast');
      }


      $('button').mouseenter(function() { // Attach this function to all mouseenter events for 'a' tags
        responsiveVoice.cancel(); // Cancel anything else that may currently be speaking
        responsiveVoice.speak($(this).text()); // Speak the text contents of all nodes within the current 'a' tag
      });

      $('#lunarlander').hover(function() {
          $('body').addClass('lunarBackground');
          $('h1').hide('slow');

          for (var i = 2; i < 7; i++) {
            if (scene.children[i].name == "lunarlander") {
                scene.children[i].material.visible = true;
            } else {
              scene.children[i].material.visible = false;
            }
          }
        }, function() {
            $('body').removeClass('lunarBackground');
            $('h1').show('slow');
            for (var i = 2; i < 7; i++) {
                scene.children[i].material.visible = true;
            }
        });

      //apollo soyuz button
      $('#apollosoyuz').hover(function() {
          $('body').addClass('apollosoyuzbackground');
          $('h1').hide('slow');

          for (var i = 2; i < 7; i++) {
          if (scene.children[i].name == "apollosoyuz") {
          scene.children[i].material.visible = true;
          } else {
          scene.children[i].material.visible = false;
          }};

      }, function() {
          $('body').removeClass('apollosoyuzbackground');
          $('h1').show('slow');
          for (var i = 2; i < 7; i++) {
              scene.children[i].material.visible = true;
          }
      });

      // //saturn five button
      // $('#saturnfive').hover(function() {
      //     $('body').addClass('saturnVbackground');
      //     $('h1').hide('slow');
      //     for (var i = 2; i < 7; i++) {
      //     if (scene.children[i].name == "saturnV") {
      //     scene.children[i].material.visible = true;
      //     } else {
      //     scene.children[i].material.visible = false;
      //     }};
      //
      // }, function() {
      //     $('body').removeClass('saturnVbackground');
      //     $('h1').show('slow');
      //     for (var i = 2; i < 7; i++) {
      //         scene.children[i].material.visible = true;
      //     }
      // });
      //
      // //gemini button
      // $('#gemini').hover(function() {
      //     $('body').addClass('geminibackground');
      //     $('h1').hide('slow');
      //     for (var i = 2; i < 7; i++) {
      //     if (scene.children[i].name == "gemini") {
      //     scene.children[i].material.visible = true;
      //     } else {
      //     scene.children[i].material.visible = false;
      //     }};
      //
      // }, function() {
      //     $('body').removeClass('saturnVbackground');
      //     $('h1').show('slow');
      //     for (var i = 2; i < 7; i++) {
      //         scene.children[i].material.visible = true;
      //     }
      // });


    });
    </script>

  </head>
  <body>

    <div id="container">
    </div>

    <div id="header" class="hidden">
      <h1>The Machines of NASA </h1>
    </div>
    <div id="buttons" >
      <button id="voyager">Voyager</button>
      <button id="gemini">Gemini</button>
      <button id="saturnfive">Saturn 5</button>
      <button id="lunarlander">Apollo Lunar Lander</button>
      <button id="apollosoyuz">Apollo Soyuz</button>
    </div>

    <img class="nasalogo" src="/images/nasa.png"/>

    <script type="text/javascript" src="/javascripts/threejs/allmodels.js"></script>

  </body>
</html>
