<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome!</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r73/three.js"></script>
    <!-- <script type="text/javascript" src="KeyboardControls.js"></script> -->
    <script type="text/javascript" src="/javascripts/TrackballControl.js"></script>
    <script type="text/javascript" src="/javascripts/JSONLoader.js"></script>
    <script src="//cdn.jsdelivr.net/velocity/1.2.1/velocity.min.js"></script>
    <script src="//cdn.jsdelivr.net/velocity/1.2.1/velocity.ui.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css" media="screen" title="no title" charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Atomic+Age|VT323' rel='stylesheet' type='text/css'>
    <script src='https://code.responsivevoice.org/responsivevoice.js'></script>
    <script src='/javascripts/pages/ANIlandingpage.js'></script>
  </head>
  <body>

    <div id="container">
    </div>

    <div class="titlecard">
        <img id="titlecard" src="/images/titlecard.gif"/>
    </div>

    <div id="enter" class="svg-wrapper">
          <svg height="40" width="145" xmlns="http://www.w3.org/2000/svg">
            <rect id="shape" height="40" width="145" />
            <div id="text">
              <a href="/chosemachine"><span class="spot"></span>Enter</a>
            </div>
          </svg>
    </div>

    <script type="text/javascript" src="/javascripts/pages/landingpage.js"></script>

  </body>
</html>
