<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Machines of Nasa: Lunar Lander</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script src='https://code.responsivevoice.org/responsivevoice.js'></script>
    <script src="/javascripts/responsivevoicecommands.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r73/three.js"></script>
    <!-- <script type="text/javascript" src="KeyboardControls.js"></script> -->
    <script type="text/javascript" src="/javascripts/TrackballControl.js"></script>
    <script type="text/javascript" src="/javascripts/JSONLoader.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Atomic+Age|VT323' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/style.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>

    <div id="commentBox">
      <form class="" action="/comment" method="post">
        <input type="textarea" placeholder="What do you think of the Voyager Probe?" name="Comment"></input>
        <input type="hidden" name="Owner" value="LunarLander"></input>
        <input type="submit" class="commentBtn">Add Comment</input>
      </form>
      {{#each comments}}
        <p><span class="commentSpan">{{Name}}</span>: {{Comment}}</p>
      {{/each}}
    </div>



    <div id="container">
    </div>

    <div id="homeBtn" class="svg-wrapperW">
          <svg class="svgW" height="40" width="145" xmlns="http://www.w3.org/2000/svg">
            <rect id="shapeW" height="40" width="145" />
            <div id="textW">
              <a href="/chosemachine" id="aW"><span class="spot"></span>back</a>
            </div>
          </svg>
    </div>



    <div id="LLLearn" class="svg-wrapperW Learn">
          <svg class="svgW" height="40" width="145" xmlns="http://www.w3.org/2000/svg">
            <rect id="shapeW" height="40" width="145" />
            <div id="textW">
              <a href="/lunarlander/learn" id="aW"><span class="spot"></span>Learn</a>
            </div>
          </svg>
    </div>

    <div id="LLExplore" class="svg-wrapperW Explore">
          <svg class="svgW" height="40" width="145" xmlns="http://www.w3.org/2000/svg">
            <rect id="shapeW" height="40" width="145" />
            <div id="textW">
              <a href="/lunarlander/explore" id="aW"><span class="spot"></span>Explore</a>
            </div>
          </svg>
    </div>

    <div id="LLGallery" class="svg-wrapperW GalleryP">
          <svg class="svgW" height="40" width="145" xmlns="http://www.w3.org/2000/svg">
            <div id="textW">
              <a href="/lunarlander/gallery" id="aW"><span class="spot"></span>Gallery</a>
            </div>
          </svg>
    </div>



    <div id="LLComments" class="svg-wrapper-active Comments">
          <svg class="svgW" height="40" width="145" xmlns="http://www.w3.org/2000/svg">
            <rect id="shapeW" height="40" width="145" />
            <div id="textW">
              <a href="/lunarlander/comments" id="aW"><span class="spot"></span>Comments</a>
            </div>
          </svg>
    </div>
    <img class="nasalogo" src="/images/nasa.png"/>
  <script type="text/javascript" src="/javascripts/threejs/stars.js"></script>
  </body>
</html>
