<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>THree Js</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script src='https://code.responsivevoice.org/responsivevoice.js'></script>
    <script src="/javascripts/responsivevoicecommands.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r73/three.js"></script>
    <!-- <script type="text/javascript" src="KeyboardControls.js"></script> -->
    <script type="text/javascript" src="/javascripts/TrackballControl.js"></script>
    <script type="text/javascript" src="/javascripts/JSONLoader.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Atomic+Age|VT323' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/style.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>

		<div id="image">
			<div class="image i1">
        <img src="/images/gemini/gallery/1.png">
        <p class="caption"> Astronauts prepare in the Gemini module.</p>
      </div>
			<div class="image i2">
        <img src="/images/gemini/gallery/2.jpg">
        <p class="caption"> View of Lovell and Borman's Gemini VII capsule from Gemini VI-A</p>
      </div>
			<div class="image i3">
        <img src="/images/gemini/gallery/3.png">
        <p class="caption"> Gemini IV astronaut Edward H. White II became the first American to step outside his spacecraft and let go</p>
      </div>
			<div class="image i4">
        <img src="/images/gemini/gallery/4.jpg">
        <p class="caption">  White maneuvered by twisting his body and pulling on the umbilical cord </p>
      </div>
			<div class="image i5">
        <img src="/images/gemini/gallery/5.jpg">
        <p class="caption"> Gemini IX also featured a two-hour spacewalk by Gene Cernan, the second in NASA history</p>
      </div>
			<div class="image i6">
        <img src="/images/gemini/gallery/6.png">
        <p class="caption"> Gemini VIII made the first successful docking in space, linking up with the Agena Target Vehicle </p>
      </div>
			<div class="image i7">
        <img src="/images/gemini/gallery/7.jpg">
        <p class="caption"> Gemini IX-A's docking didn't go as planned, because a protective shroud on the docking adapter failed to fully separate. </p>
      </div>
			<div class="image i8">
        <img src="/images/gemini/gallery/8.png">
        <p class="caption"> Gemini-Titan 4 (GT-4) lift-of from Pad 19 </p>
      </div>
    </div>


    <div id="container">
    </div>

    <div id="homeBtn" class="svg-wrapperW">
          <svg class="svgW" height="40" width="145" xmlns="http://www.w3.org/2000/svg">
            <rect id="shapeW" height="40" width="145" />
            <div id="textW">
              <a href="/chosemachine" id="aW"><span class="spot"></span>back</a>
            </div>
          </svg>
    </div>

    <p class="messageW" align="center"> Hover over an image to pause the carousel. </p>


    <div id="GLearn" class="svg-wrapper-active Learn">
          <svg class="svgW" height="40" width="145" xmlns="http://www.w3.org/2000/svg">
            <div id="textW">
              <a href="/gemini/learn" id="aW"><span class="spot"></span>Learn</a>
            </div>
          </svg>
    </div>

    <div id="GExplore" class="svg-wrapperW Explore">
          <svg class="svgW" height="40" width="145" xmlns="http://www.w3.org/2000/svg">
            <rect id="shapeW" height="40" width="145" />
            <div id="textW">
              <a href="/gemini/explore" id="aW"><span class="spot"></span>Explore</a>
            </div>
          </svg>
    </div>

    <div id="GGallery" class="svg-wrapperW GalleryP">
          <svg class="svgW" height="40" width="145" xmlns="http://www.w3.org/2000/svg">
            <rect id="shapeW" height="40" width="145" />
            <div id="textW">
              <a href="/gemini/gallery" id="aW"><span class="spot"></span>Gallery</a>
            </div>
          </svg>
    </div>

    <div id="GComments" class="svg-wrapperW Comments">
          <svg class="svgW" height="40" width="145" xmlns="http://www.w3.org/2000/svg">
            <rect id="shapeW" height="40" width="145" />
            <div id="textW">
              <a href="/gemini/comments" id="aW"><span class="spot"></span>Comments</a>
            </div>
          </svg>
    </div>

    
    <img class="nasalogo" src="/images/nasa.png"/>
  <script type="text/javascript" src="/javascripts/threejs/stars.js"></script>
  </body>
</html>
